# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Expo managed native folders
/ios
/android

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# IDE - JetBrains (IntelliJ, WebStorm, etc.)
.idea/

# IDE - VS Code
.vscode/

# IDE - Sublime Text
*.sublime-project
*.sublime-workspace

# IDE - Vim
*.swp
*.swo
*~

# Xcode
*.xcworkspace
*.xcodeproj
xcuserdata/

# EAS
.easignore

# Testing
coverage/

# Miscellaneous
*.log
app-example
